<style type="text/css">
	.blog-tags-container {
		width: 100%;
		padding: 5px 0;
	}

	.blog-tag {
		padding: 5px 12px 6px;
		border-radius: 16px;
		margin-right: 5px;
		background: rgb(224,224,224);
		color: rgb(66,66,66);
		font-size: 16px;
		cursor: pointer;
	}

</style>

<div class="blog-tags-container" layout="row" layout-align="start center">
	<div ng-repeat="tag in tags" class="blog-tag" ng-class="'blog-tag-{{theme}}'" ng-click="function(tag); $event.stopPropagation()">{{tag}}</div>
</div>