<div class="section-container">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 pad0" layout="column" layout-align="start center">
		<md-content ng-if="!showLoader" flex="auto" class="md-whiteframe-4dp col-xs-12 pad20 mrgbot20" layout="column" layout-align="start start">
			<form flex="auto" class="col-xs-12 pad0" layout="column" ng-submit="savePost()">
				<md-input-container>
					<label>Title</label>
					<input ng-model="post.title" autocomplete="off">
				</md-input-container>

				<md-input-container>
					<label>Content</label>
					<textarea ng-model="post.content" md-maxlength="1000" rows="5" autocomplete="off"></textarea>
				</md-input-container>
				<md-button class="md-raised md-primary" ng-click="savePost()">Save!</md-button>
			</form>
		</md-content>
		<div ng-if="showLoader" class="mrg20" layout="row" layout-align="space-around">
		    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</div>
	</div>
</div>