<div md-theme="blog" class="blog-container blog-bg-color" layout="column" layout-align="start center">
	<div class="blog-header md-whiteframe-2dp" ng-class="'bg-{{blog.theme}}'" layout="row" layout-align="start center">
		<div flex>
			<span class="blog-cursor-pointer" ui-sref="blog.allposts({category: blog.default_category})">{{blog.name}}</span> > 
			<md-input-container style="margin: 0 0 3px">
		      	<md-select ng-model="blog.category" ng-change="blog.changeCategory(blog.category)" aria-label="Category Select">
		        	<md-option ng-repeat="category in blog.categories" ng-value="category.id">
		        		{{category.name}}
		        	</md-option>
		      	</md-select>
		    </md-input-container>
	    </div>
	    <md-menu ng-show="blog.menu && blog.permissions.USER >= blog.user.permission" md-position-mode="target-right target" md-offset="0 10">
            <md-button class="md-icon-button pad0 mrg0" ng-click="$mdOpenMenu()">
                <md-icon class="material-icons txt24" ng-class="'blog-text-light-{{blog.theme}}'">more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-if="menuItem.show" ng-repeat="(key,menuItem) in blog.menu">
                    <md-button class="txt18 padlr10" ng-click="blog.menuAction(menuItem.function)">
                        <md-icon class="material-icons txt20">{{menuItem.icon}}</md-icon>{{menuItem.name}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
	</div>
	<div layout="row" layout-align="start start" layout-fill>
		<div class="blog-view-container" flex="auto" flex-xs="100" ui-view></div>
		<div ng-if="blog.showSideBar" flex="33" class="blog-side-container" hide-xs>
			<md-content class="blog-side-entry-container md-whiteframe-2dp">
				Recent Posts:
			</md-content>
			<md-content class="blog-side-entry-container md-whiteframe-2dp">
				Most Visited Posts:
			</md-content>
		</div>
	</div>
</div>