<div class="col-xs-12 pad0 mrgbot20 padbot5" layout="row" layout-align="end center">
	<menu-bar id="category-menu" flex="auto" items="categories" item-selected="category" function="changeCategory"></menu-bar>
	<md-icon class="material-icons txt28 text-grey mrg5 pointer" ui-sref="blog.post.new">note_add</md-icon>
</div>
<md-content ng-if="!showLoader" flex="auto" id="{{postid}}" ng-repeat="(postid, post) in posts" class="md-whiteframe-4dp col-xs-12 pad20 mrgbot20" layout="column" layout-align="start start">
	<div class="post-header text-size-d">
		<span class="pointer" ui-sref="blog.post.view({postid:'{{postid}}'})">{{post.title}}</span>
		<span class="pull-right pointer text-grey txt20" ui-sref="blog.post.edit({postid:'{{postid}}'})"><md-icon class="material-icons">edit</md-icon></span>
	</div>
	<div class="post-content" ng-bind-html="post.content"></div>
	<div class="post-footer">
		<span class="pull-right txt14 text-grey padlr5">Last Modified: {{post.last_modified | date :'mediumDate'}}</span>
	</div>
</md-content>
<div ng-if="!showLoader && !posts" class="txt16 padlr10">
	No posts in this category yet.
</div>
<div ng-if="showLoader" class="col-xs-12 mrg20" layout="row" layout-align="space-around">
	<md-progress-circular md-mode="indeterminate" class="md-hue-2"></md-progress-circular>
</div>