<div ng-if="!(blog.postLoader | isEmpty)" class="blog-loader" layout="row" layout-align="space-around">
	<md-progress-circular md-mode="indeterminate" class="md-hue-2"></md-progress-circular>
</div>
<div ng-if="blog.postLoader | isEmpty" class="blog-posts-container">
	<md-content class="md-whiteframe-2dp">
		<div class="blog-post-container">
			<div class="blog-post-header">{{blog.post.title}}</div>
			<div class="blog-post-content" ng-bind-html="blog.post.content"></div>
			<div class="blog-post-footer">
				<div class="blog-post-details" layout="column" layout-align="start start">
					<div class="blog-post-authors">
						Authored By: <span ng-repeat="(key,author) in blog.post.authors">
							<span ng-if="!$first && !$last">|</span>
							<span ng-if="!$first && $last"> and </span>
							<span class="blog-post-author">{{author}}</span>
						</span>
					</div>
					<div class="blog-post-time">
						Last Modified: {{blog.post.last_modified | date: blog.dateFormat}}
					</div>
					<div ng-if="blog.post.tags" class="blog-post-tags">
						<blog-tags tags="blog.post.tags" function="blog.viewTaggedPosts" theme="blog.theme"></blog-tags>
					</div>
				</div>
			</div>
			<div ng-if="blog.post.comments" class="blog-post-comments">
				Comments
			</div>
		</div>
	</md-content>
</div>