.blog-container {
    padding: 10px;
}

.post-header, .post-content, .post-view-content, .post-footer {
    width: 100%;
}

.post-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.post-content {
    min-height: 100px;
    max-height: 150px;
    padding: 10px 5px;
}

.post-view-content {
    min-height: 50vh;
    padding: 10px 5px;
}

.post-footer {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}